<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario_cadastro</title>
    <script src="https://kit.fontawesome.com/4d88c7f41d.js" crossorigin="anonymous"></script>
    <!--esse script é gerado pelo fontawesome.com que gera icones -->

    <link rel="stylesheet" href="/css/formulario_header.css">
    <link rel="stylesheet" href="/css/formulario.css">
    
  
   
</head>

<body>
  
 
  <header>

    <section class="primeiro_cabecalho">

      <div class="imagem_logo4">
          <a href="/">
              <img class="imagem_logo_img4" src="/img/Grupo Seven 2.PNG" alt="Logo da empresa"  >
          </a>
      </div>

      <form class="form_primeiro_cabecalho4" action="#" method="post">

        <a class="botao4" id="button_entry"  href="#login">  <i  class="fa-solid fa-right-to-bracket"></i></a> <p class="text_botao4">Entrar</p>
       <!--a tag "i" estou utilizando o icone do fontawesome.com -->
       <br>
       <section class="body_login" ></section>
       <div class="login">
         <h2>Login</h2>
         <form class="form_login"action="">
          <input type="email" name="email_login" id="email_login" placeholder="E-mail"/>
          <input type="password" id="username_login" placeholder="Senha"/>
          <button class ="botao_login" type="submit"> <strong> Entrar </strong></button>
         </form>
       </div>
  
     </form>
          

      </section>


      <section class="segunda_cabecalho">

        <article class="link">
          <i class="fa-solid fa-list"></i> <p class="texto_nav"> Navegue aqui</p> 
        </article>

         <article class="abas">

          
            <a class="tagA_segundo_cabecalho"  href="/variedades">
                   <p class="mercado"><strong>Variedades</strong>  </p> 
            </a>

            <a class="tagA_segundo_cabecalho"  href="/pet">
                    <p class="pet"><strong>Espaço pet</strong> </p>
            </a>

            <a class="tagA_segundo_cabecalho"  href="/farmacia">
              <p class="farmacia"><strong>Farmácia </strong> </p>
            </a>

              <p class="oferta"><strong>Ofertas </strong> </p>

         </article>


      </section>


  </header>

   <main>
      

  <div class="container">
      <div class="header">
        <h2>Crie uma conta para sua empresa</h2>
      </div>


    <form action="/empresas/formularioEmpresas" method="post" id ="form" class="form">

 
      
          <div class="form-control">

            <label for="username">Nome da empresa</label>
            <input type="text" name="username" id="username" placeholder="Digite seu nome de usuário..." />
            <i class="fas fa-exclamation-circle"></i>
            <i class="fas fa-check-circle"></i>
            <% if (typeof errors !=="undefined") {%> 
            <p><%= errors.username %></p>
            <% } %> 
          </div>

      
          <div class="form-control">

            <label for="email">Email</label>
            <input type="text" name="email" id="email" placeholder="Digite seu email.." />
            <i class="fas fa-exclamation-circle"></i>
            <i class="fas fa-check-circle"></i>
            <% if (typeof errors !=="undefined") {%> 
            <p><%= errors.email %></p>
            <% } %> 
          </div>


          <div class="form-control">

            <label for="cpf">CNPJ</label>
            <input type="text" name="CNPJ" id="CNPJ" placeholder="Digite seu CNPJ.." />
            <i class="fas fa-exclamation-circle"></i>
            <i class="fas fa-check-circle"></i>
           <!-- <small>Mensagem de erro</small>-->
           <% if (typeof errors !=="undefined") {%> 
           <p><%= errors.CNPJ %></p>
           <% } %> 
          </div>

          <div class="form-control">

            <label for="telefone">Telefone</label>
            <input type="text" name="telefone" id="telefone" placeholder="Digite seu número.." />
            <i class="fas fa-exclamation-circle"></i>
            <i class="fas fa-check-circle"></i>
            <% if (typeof errors !=="undefined") {%> 
            <p><%= errors.telefone %></p>
            <% } %> 
            
          </div>
          
          <!-- campo da senha e confirmação inicio------------------------------------------------------------------------------>
          <div class="form-control">
            <label for="password">Senha</label>
            <input type="password" name="password" id="password" placeholder="Digite sua senha..."/>
            <i class="fas fa-exclamation-circle"></i>
            <i class="fas fa-check-circle"></i>
            <% if (typeof errors !=="undefined") {%> 
            <p><%= errors.password %></p>
            <% } %> 
          </div>


          <div class="form-control">
            <label for="password-confirmation">Confirmação de senha</label>
            <input type="password"  name="passwordConfirmation"id="password-confirmation" placeholder="Digite sua senha novamente..."/>
            <i class="fas fa-exclamation-circle"></i>
            <i class="fas fa-check-circle"></i>
            <% if (typeof errors !=="undefined") {%> 
            <p><%= errors.passwordConfirmation %></p>
            <% } %> 
          </div>
          
          <!-- campo da senha e confirmação fim-------------------------------------------------------------------------------->

          <button type="submit"> <strong> Enviar </strong></button>  <!-- botão de  confirmação do cadastro -->    
       
   
    </form>

  </div>
    


 </main>




 <footer>




 </footer>


</body>


<script src="/js/login.js"></script>

</html>